spring:
  jmx:
    default-domain: qipai_ruianmajiang
  data:
    mongodb:
      #uri: mongodb://localhost:27017/qipai_ruianmajiang

  cloud:
    stream:
      kafka:
        binder:
          brokers: localhost:9092
          zk-nodes: localhost:2181
          minPartitionCount: 1
          autoCreateTopics: true
          autoAddPartitions: false
        bindings:
          ruianMajiangGame:
            producer:
              configuration:
                request:
                  timeout:
                    ms: 30000
                linger:
                  ms: 5
                batch:
                  size: 16384
          ruianMajiangResult:
            producer:
              configuration:
                request:
                  timeout:
                    ms: 30000
                linger:
                  ms: 5
                batch:
                  size: 16384
          memberGoldsAccounting:
            producer:
              configuration:
                request:
                  timeout:
                    ms: 30000
                linger:
                  ms: 5
                batch:
                  size: 16384
          wisecrack:
            producer:
              configuration:
                request:
                  timeout:
                    ms: 30000
                linger:
                  ms: 5
                batch:
                  size: 16384
      bindings:
        ruianMajiangGame:
          destination: ruianMajiangGame
          contentType: application/json
          producer:
            partitionCount: 1
        ruianMajiangResult:
          destination: ruianMajiangResult
          contentType: application/json
          producer:
            partitionCount: 1
        memberGoldsAccounting:
          destination: memberGoldsAccounting
          contentType: application/json
          producer:
            partitionCount: 1
        members:
          destination: members
          group: qipai-ruianmajiang
          consumer:
            concurrency: 1
            partitioned: false
          contentType: application/json
        ruianGameRoom:
          destination: ruianGameRoom
          group: qipai-ruianmajiang
          consumer:
            concurrency: 1
            partitioned: false
          contentType: application/json
        memberGolds:
          destination: memberGolds
          group: qipai-ruianmajiang
          consumer:
            concurrency: 1
            partitioned: false
          contentType: application/json
        wisecrack:
          destination: wisecrack
          contentType: application/json
          producer:
            partitionCount: 1
      
server:
  port: 2001
  
filepath:
  snapshotFileBasePath: /data/app/qipai_ruianmajiang/server1/snapshot
  jFileBasePath: /data/app/qipai_ruianmajiang/server1/journal

logging:
  config: classpath:spring-log.xml